
.multiple-question__title{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
}
.multiple-question__subtitle{
    font-style: italic;
}
.multiple-question__space {
    max-width: 100%;
}
.multiple-question__options{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.multiple-question__choices{
    margin-top: 10px;
}
.multiple-question__options--style{
    border: 1px solid var(--dark-blue);
    padding:14px 12px;
    height: 50px;
    border-radius: 8px;
    display: flex;
}
.multiple-question__options--style{
    border: 1px solid var(--dark-blue);
    height: 50px;
    border-radius: 14px;
    display: flex;
    gap:25px;
    cursor: pointer;
}
.multiple-question__options--style input{
    accent-color: var(--main-pink);
    border: 1px solid var(--dark-blue);
    height: 21px;
    width: 21px;
}

.checked {
    background-color: rgba(255, 105, 180, 0.5); 
    border: 2px solid var(--main-pink);
}
.span-checked{
    opacity: 1 !important;
}
.multiple-question__options--style span{
    display: flex;
    align-items: center;
}
.multiple-question__options-text{
    color: var(--dark-blue);
    font-size: 16px;
}